@import "../../../common/utils/variables";


.check {
  max-width: 413px;
  height: 462px;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin-top: 60px;

  &__title {
    padding-top: 35px;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    color: #000000;
  }

  &__img {
    margin-bottom: 31px;
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    opacity: 0.5;
    margin-bottom: 41px;
  }

  &__btn {
    padding: 8px 120px;
    background: $base-color;
    box-shadow: $box-shadow;
    border-radius: 30px;
    border: none;
    color: white;
    cursor: pointer;
    margin-bottom: 31px;
    text-decoration: none;

    transition: all .2s linear;

    &:hover {
      background: $base-color-hover;
    }

  }
}
