@import "../../common/utils/variables";


.forgot {
  max-width: 413px;
  height: 462px;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: $box-shadow;
  border-radius: 2px;
  margin-top: 60px;
  margin-bottom: 40px;

  &__title {
    padding-top: 35px;
    margin-bottom: 55px;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    color: #000000;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 347px;
    margin: 0 auto;
  }

  &__input {
    width: 347px;
    margin: 0 auto;
    margin-bottom: 25px;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    outline: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;

    transition: all .3s ease-in-out;

    &:focus {
      border-bottom: 2px solid $base-color;
    }
  }

  &__span {
    color: #000000;
    opacity: 0.5;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
  }

  &__text {
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    opacity: 0.5;
    margin-bottom: 65px;
  }

  &__btn {
    padding: 8px 100px;
    background: $base-color;
    box-shadow: $box-shadow;
    border-radius: 30px;
    border: none;
    color: white;
    cursor: pointer;
    margin-bottom: 40px;

    transition: all .2s linear;

    &:hover {
      background: $base-color-hover;
    }
  }

  &__remember {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    opacity: 0.5;
    margin-bottom: 15px;
  }

  &__link {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-align: center;
    text-decoration-line: underline;

    color: $base-color;

  }
}
