.rows {
  &__link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: #000000;
    transition: all .2s linear;
    width: max-content;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 3px;


    &:hover {
      color: #e56200;
      border: 1px solid #e56200;
      background-color: rgba(229, 98, 0, 0.2);
    }
  }

  &__text {
    
  }


}
